#skaper-maker {
    overflow: hidden;
    border-radius: 4px;
    max-width: 1200px;
    width: 100%;

    > header {
        background: var(--skaper-primary);
        color: var(--skaper-light);
        padding: 8px 12px;
        text-transform: uppercase;
    }

    .skaper-container {
        display: flex;
    }

    .skaper-image-container {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}