#skaper-maker .TitleHighlightColor {
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ToggleGroup {
        display: flex;

        label {
            margin-right: 8px;
        }
    }

    h2 {
        margin-bottom: 0;
    }
}
