#skaper-maker .ImagePreview {
    margin: 16px;

    .Image {
        position: relative;
        border: 1px solid var(--skaper-divider);
        aspect-ratio: 1200 / 630;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.Twitter {
            aspect-ratio: 1200 / 675;
        }

        &:hover {
            .Dimensions {
                opacity: 1;
            }
        }
    }
}