.ImageSize {
    padding: 0;
    border: none;
    margin: 12px 0 0 0;

    label {
        align-items: center;
        display: flex;
        font-size: 0.8em;
        justify-content: flex-end;

        span {
            font-weight: 500;
            margin-right: 8px;
        }
    }

    select {
        background: var(--skaper-light);
        border: 1px solid var(--skaper-text);
        border-radius: 4px;
        color: var(--skaper-text);
        padding: 4px;
        width: 100%;
        display: block;
    }
}