#skaper-maker .TitlePosition {
    .ButtonGroups {
        display: flex;
        justify-content: space-between;

        .ButtonGroup {
            width: 100%;
            padding-right: 6px;

            &:last-child {
                padding-right: 0;
                padding-left: 6px;
            }
        }
    }

    h2 {
        margin-bottom: 4px;
    }
}
