.ColorPicker {
    background-color: var(--skaper-primary);
    border: 2px solid var(--skaper-primary);
    padding: 0;
    height: 1.3em;
    border-radius: 4px;
    overflow: hidden;
    transition: opacity ease 0.2s;

    &:disabled {
        opacity: 0.6;
    }
}
